.container{
    height: 700px;
    width: 700px;
    border: 2px solid black;
    display: flex;
    flex-direction: row; /* By default, it is row */
    flex-wrap: wrap;
    gap: 100px;
    flex-flow: row wrap; /* Shorthand for flex-direction and flex-wrap */
    justify-content: center; /* Aligns items horizontally */
    align-items: center;
}
#box-1{
    /* order: 1; */
    flex-grow: 5;
}
#box-3{
    flex-grow: 4;
}
#box-6{
    flex-shrink: 5;
}
#box-7{
    flex-basis: 300px;
}    

.box{
    border: 2px solid red;
}
