.box{
     margin: 100px auto;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    /* transform: scale(2);
    transform: skew(20deg, 40deg); */
    /* transform: translate(100px, 100px); */
    /* transform: rotate(30deg); */
    /* transition: 2s ease; */
    transition-duration: 2s;
    transition-property: all;
    transition-delay: 1s;
    /* transition-timing-function: ease-in; */
    transition-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
}

.box:hover{
    transform: rotate(360deg);
    border-radius: 50%;
    background-color: lime;
}